@import "../../sass/fonts";
@import "../../sass/colors";

#loadingdisplay-container {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 2px solid white;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;

  p {
    color: white;
    width: 100%;
    text-align: center;
    line-height: 200px;
    margin: 0;
    font-size: $font-small;
    font-family: $font-logo;
    position: absolute;
    z-index: 3;
  }
}

.spinner {
  margin: 15% 2%;
  width: 96%;
  height: 70%;
  border-top: 3px solid $color-details-main-dark;
  border-radius: 50%;
  position: absolute;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(720deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
