$color-background-primary: rgb(21, 21, 21);
$color-details-main-dark: rgb(70, 69, 69);
$color-details-main-light: rgb(169, 168, 168);

$color-font-light: whitesmoke;
$color-font-dark: rgb(10, 10, 10);

$color-success: rgb(54, 199, 54);
$color-fail: rgb(223, 4, 4);
$color-index: rgb(109, 93, 69);
