@import "../../sass/colors";
@import "../../sass/fonts";

#logo {
  max-width: 400px;
  max-height: 80px;
  width: 80%;
  position: absolute;
  top: 30px;
  right: 5%;
}

.fill-white {
  fill: $color-font-light;
}

.logo-text {
  font-size: 24px;
  font-family: $font-logo;
}
