@import "../../sass/colors";
@import "../../sass/fonts";

#timeline-offset-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 280px 0 300px black;
}

#timeline-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  svg {
    margin-top: 110px;
    width: 100%;
    height: 4200px;
  }
}

.node-circle {
  cursor: pointer;
}

.active-details {
  visibility: visible;
}

.hidden-details {
  visibility: hidden;
}

.timeline-axis line,
.timeline-axis path {
  stroke: $color-font-light;
  stroke-width: 3px;
}

.timeline-axis text {
  color: $color-font-light;
  font-size: 18px;
}

.line-extension {
  stroke: $color-font-light;
}

.launch-number {
  fill: $color-font-light;
  pointer-events: none;
}
